<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <center>

    <h2>User Profile</h2>
    <br><br>
    <h3 style="pointer-events:none;opacity: 0.5;">Name:<%=todos1.name %></h3>
    <h3>username:<%=todos1.username %></h3>
    <h3>Mobile:<%=todos1.mobile%></h3>
    <h3 style="pointer-events:none;opacity: 0.5;">email:<%=todos1.email%></h3>
    <h3>state:<%=todos1.state %></h3>
    <h3>Country:<%=todos1.country %></h3>
    <h3>College:<%=todos1.college%></h3>
   
</form>

</center>
</body>
</html>